{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/styles.css' %}">
    <title>Germmem Quiz</title>
</head>

<body>
    <h2>Find the Word: {{ the_word }}</h2>
    <ol>
      {% for possible_answer in possible_answers %}
      <li> {{ possible_answer }} </li>
      {% endfor %}
    </ol>
    <h2>Enter some data</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="input_data">Your Input:</label>
        <input type="text" id="input_data" name="input_data">
        <button type="submit">Submit</button>
    </form>

    {% if results %}
        <h3>{{ results }}</h3>
    {% endif %}
    <a href="/quiz" class="button">Next Question</a>
    <a href="/" class="button">Back to Home</a>
</body>
</html>

